.car_shop_group {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  /* simple car content */
  /*grid*/
}

.car_shop_group h4,
.car_shop_group p {
  padding: 0 !important;
  margin: 0 !important;
}

.car_shop_group p {
  font-style: italic;
  color: #767676;
}

.car_shop_group .car_shop {
  cursor: pointer;
}

.car_shop_group .price {
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  background-color: #955181;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.car_shop_group .car_details_btn {
  background-color: #00B4CE;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display: block;
  color: #fff;
}

.car_shop_group .car-item {
  display: block;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px silver;
  border-radius: 5px;
}

.car_shop_group .car-item:hover {
  background-color: #EFEFEF;
}

.car_shop_group .car_image {
  width: 30%;
  float: left;
  margin: 0;
  padding: 0;
}

.car_shop_group .car_image img {
  max-width: 100%;
}

.car_shop_group .car_content {
  width: 70%;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.car_shop_group .simple_car_content {
  width: 100%;
  margin: 0;
  padding: 5px;
}

.car_shop_group .car_shop_grid_1 {
  float: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.car_shop_group .car_shop_grid_2 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.car_shop_group .car_shop_grid_2:nth-child(2n+1) {
  clear: both;
}

.car_shop_group .car_shop_grid_3 {
  float: left;
  width: 33%;
  margin: 0;
  padding: 0;
}

.car_shop_group .car_shop_grid_3:nth-child(3n+1) {
  clear: both;
}

.car_shop_group .car_shop_grid_4 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.car_shop_group .car_grid_item {
  display: block;
  overflow: hidden;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.car_shop_group .car_grid_item .grid_image {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  float: none;
}

.car_shop_group .car_grid_item .grid_image img {
  max-width: 100%;
}

.car_shop_group .car_grid_item .grid_content .price {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

