/* common Styles */

.car_shop_group {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.car_shop_group .car-item {
  display: block;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px silver;
  border-radius: 5px;
}

.car_shop_group .car-item:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.car_shop_group .car_image {
  width: 30%;
  float: left;
  margin: 0;
  padding: 0;
}

.car_shop_group .car_image img {
  max-width: 100%;
}

.car_shop_group .car_content {
  width: 70%;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.car_shop_group .car_content h4 {
  padding: 0;
  margin: 0;
}

.car_shop_group .car_content p {
  padding: 0;
  margin: 0;
  font-style: italic;
  color: #767676;
}

/*grid*/

.car_grid_item {
  display: block;
  overflow: hidden;
  width: 100%;
}

.grid_image {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

