.car_shop_group { 
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
// common style start
 h4,p {
     padding: 0 !important;
     margin: 0 !important;
  }
  p {
      font-style: italic;
      color: #767676;
  }
  .price {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #955181;
    border-radius: 5px;
    color: #fff;
    text-align:center;
  }

  .car_shop {
    cursor: pointer;
  }
 
  .car_details_btn {
    background-color: #00B4CE;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: block;
    color: #fff;
  }
  // common style end

  .car-item {
    display: block;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px silver;
    border-radius: 5px;
    &:hover{
      background-color: #EFEFEF; 
    }
  }

  .car_image {
    width: 30%;
    float: left;
    margin: 0;
    padding: 0;
    img {
       max-width: 100%;
    }
  }

  .car_content {
    width: 70%;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }

/* simple car content */
.simple_car_content{
  width: 100%;
  margin: 0;
  padding: 5px;
}


/*grid*/
  .car_shop_grid_1{
    float: none;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .car_shop_grid_2{
    float:left;
    width:50%;
    margin:0;
    padding:0;
    &:nth-child(2n+1){
      clear: both;
    }
    
  }

  .car_shop_grid_3{
    float:left;
    width: 33%;
    margin:0;
    padding:0;
    &:nth-child(3n+1){
      clear: both;
    }
  }

  .car_shop_grid_4 {
    float:left;
    width:25%;
    margin:0;
    padding:0;
    &:nth-child(4n+1){
      clear: both;
    }
  }


  .car_grid_item {
    display: block;
    overflow: hidden;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    .grid_image {
      width: 100%;
      position: relative;
      padding: 0;
      margin: 0;
      float: none;
      img{
        max-width:100%;
      }
    }
    .grid_content {
      .price{
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 5px;
        display:table;
      }
      
    }

  }

}



/*pop up modal*/
.car_modal_dialog {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal_item{
    color: #999999;
    max-width: 90%;
    width: 600px;
    position: relative;
    margin: 4% auto;
    border-radius: 10px;
    background: #fff;
    height: auto;
    .car_close {
      position: absolute;
      top: -14px;
      right: -16px;
      text-transform: lowercase;
      font-family: Arial, Helvetica, sans-serif;
      z-index: 999999999999;
      color: #fff;
      background-color: #955181;
      border-radius: 50%;
      padding: 4px;
      height: 28px;
      width: 28px;
      text-align: center;
      line-height: 24px;
      font-size: 30px;
      cursor: pointer;
      box-sizing: content-box;
      &:hover {
        color: #fff;
        background-color: red ;
      }
    }
  }

  .car_header_holder {
    height: 350px;
    display: table;
    background-size: cover;
    width: 100%;
    background-color: #955080;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; 
    .car_header_section {
      padding: 10px 20px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      z-index: 99999999;
      height: 100%;
      text-align: center;
      h3 {
          color: white;
          font-weight: bold;
      }
      .price {
        display: inline-block;
        padding: 6px ;
        font-size: 12px;
        background-color: #955181;
        border-radius: 5px;
        color: #fff;
        text-align:center;
      }
    }
    @media screen and ( max-width: 767px ) {
      height: 267px;
    }
  }



.car_modal_content {
   padding:20px;
   .car_tax_items {
     display:inline-block;
     span {
      background-color: #C7C7C7;
      color: #fff;
      padding: 3px 6px;
      border-radius: 3px;
      margin-right: 8px;
      font-size: 80%;
    }
   }
  .car_item_content{
     margin-top:3px;
   }
}

.car_inner_content {
  padding:20px;
  border-top: dashed thin;
  border-color: #C7C7C7;
  .car_inner_title{
    color: black;
  }
  .main_info{
    list-style:none;
  }

  .car_inner_Col-6 {
    width: 47%;
    display: table-cell;
    padding: 0px 20px 0px 0px;
    margin: 0;
     ul{
          padding:0;
          margin:0;
       }
    @media screen and ( max-width: 767px ) {
       width: 100%;
       display:block;
       padding-bottom:10px;
    }
    
  }

  .car_inner_optional_content {
    .car_inner_optional_title{
      color:black;
    }
    .car_optional_list{
        li{
          list-style:none;
        }
      }
  }
    
 }

}


.car_loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8) url('./images/loading-1.gif') no-repeat 50%;
}

.car_has_modal {
  overflow: hidden !important;
}


